@charset "UTF-8";
#hero-wrapper {
  position: relative;
  margin-top: 45px;
}

@media (min-width: 768px) {
  #hero-wrapper {
    margin-top: 0;
  }
}

#hero-wrapper .hero-slider {
  background: #000;
}

#hero-wrapper .hero-slider-list {
  opacity: 0;
  transition: 2s;
}

#hero-wrapper .hero-slider-list .slick-slide img {
  height: 360px;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}

@media (min-width: 576px) {
  #hero-wrapper .hero-slider-list .slick-slide img {
    height: 500px;
  }
}

@media (min-width: 768px) {
  #hero-wrapper .hero-slider-list .slick-slide img {
    height: 600px;
  }
}

@media (min-width: 992px) {
  #hero-wrapper .hero-slider-list .slick-slide img {
    height: auto;
  }
}

@media (min-width: 992px) {
  #hero-wrapper .hero-slider-list .slick-slide:not(.slick-center) {
    opacity: 0.75;
    transition: 0.2s linear;
  }
}

#hero-wrapper .slick-initialized {
  opacity: 1;
}

#hero-wrapper .hero-image-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: auto;
}

@media (min-width: 768px) {
  #hero-wrapper .hero-image-logo {
    width: 200px;
    top: 60%;
    transform: translateY(-60%) translateX(-50%);
  }
}

@media (min-width: 992px) {
  #hero-wrapper .hero-image-logo {
    width: 250px;
    transform: translateY(-50%) translateX(-50%);
  }
}

#hero-under-container-fluid {
  background-color: #1E1E1E;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #242424), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, #242424), color-stop(0.75, #242424), color-stop(0.75, transparent), to(transparent));
  -webkit-background-size: 18px 18px;
  background-size: 18px 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

@media (min-width: 768px) {
  #hero-under-container-fluid {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

#hero-under-container-fluid .row {
  position: relative;
}

@media (min-width: 768px) {
  .hero-under-container ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.hero-under-container ul li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 14px;
}

.hero-under-container ul li p {
  color: #fff;
}

.hero-under-container ul li:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .hero-under-container ul li {
    margin-right: 40px;
    margin-bottom: 0;
    font-size: 2.2rem;
  }
}

.hero-under-container ul li .title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .hero-under-container ul li .title {
    font-size: 2.2rem;
  }
}

@media (min-width: 992px) {
  .hero-under-container ul li .title {
    font-size: 2.8rem;
  }
}

.hero-under-container ul li .title img {
  width: 15px;
}

@media (min-width: 768px) {
  .hero-under-container ul li .title img {
    width: 20px;
  }
}

@media (min-width: 992px) {
  .hero-under-container ul li .title img {
    width: 30px;
  }
}

.hero-under-container ul li .title span {
  padding-left: 5px;
  line-height: 1;
}

.hero-under-container ul li .time {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .hero-under-container ul li .time {
    font-size: 2.0rem;
  }
}

@media (min-width: 992px) {
  .hero-under-container ul li .time {
    font-size: 2.5rem;
  }
}

.hero-under-strength {
  position: absolute;
  width: 140px;
  right: 15px;
  top: -55px;
}

@media (min-width: 768px) {
  .hero-under-strength {
    width: 200px;
    right: 80px;
    top: -140px;
  }
}

@media (min-width: 992px) {
  .hero-under-strength {
    right: 150px;
  }
}

@media (min-width: 1400px) {
  .hero-under-strength {
    width: 280px;
    top: -210px;
    right: 300px;
  }
}

#top-information-container-fluid {
  background: #F3F1E3;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 50px;
}

.top-information-container h1 {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 768px) {
  .top-information-container h1 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 45px;
  }
}

.top-information-container .top-bnr {
  text-align: center;
  max-width: 690px;
  margin-bottom: 20px;
  margin: 0 auto 20px;
}

@media (min-width: 768px) {
  .top-information-container .top-bnr {
    margin: 0 auto 50px;
  }
}

.top-information-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-information-container ul li {
  width: 48.6%;
}

@media (min-width: 768px) {
  .top-information-container ul li {
    width: 32.5%;
  }
}

.top-information-container ul li a {
  border: 1px solid #E6E3CA;
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 10px;
  background: #fff;
  text-align: center;
  transition: 0.2s;
}

@media (min-width: 768px) {
  .top-information-container ul li a {
    padding: 15px 0;
  }
}

.top-information-container ul li a:hover {
  background: #fffbf5;
  transition: 0.2s;
}

.top-information-container ul li a:hover .menu-title {
  letter-spacing: 2px;
  transition: 0.2s;
}

.top-information-container ul li a .icon {
  margin-bottom: 5px;
}

.top-information-container ul li a .icon img {
  height: 30px;
}

@media (min-width: 768px) {
  .top-information-container ul li a .icon img {
    height: 40px;
  }
}

.top-information-container ul li a .menu-title {
  font-size: 1.3rem;
  color: #9F8B6D;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.2s;
}

@media (min-width: 768px) {
  .top-information-container ul li a .menu-title {
    font-size: 1.6rem;
  }
}

.news-container h3 {
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px 0;
}

@media (min-width: 768px) {
  .news-container h3 {
    padding: 10px 0;
    margin-bottom: 30px;
  }
}

.news-container h3 img {
  height: 30px;
  width: auto;
}

@media (min-width: 768px) {
  .news-container h3 img {
    height: 45px;
  }
}

.news-container h3 span {
  margin-left: 8px;
}

.news-container section {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .news-container section {
    margin-bottom: 55px;
  }
}

.news-container section .news-box {
  margin-bottom: 15px;
}

.news-container section .news-box .text p {
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .news-container section .news-box .text p {
    font-size: 1.6rem;
  }
}

#about-container-fluid {
  background: #FC9207;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #e9890a), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, #e9890a), color-stop(0.75, #e9890a), color-stop(0.75, transparent), to(transparent));
  padding-bottom: 65px;
}

@media (min-width: 768px) {
  #about-container-fluid {
    padding-bottom: 100px;
  }
}

@media (min-width: 992px) {
  #about-container-fluid {
    padding-bottom: 150px;
  }
}

#about-container-fluid h3 {
  color: #fff;
  font-size: 2.0rem;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #about-container-fluid h3 {
    font-size: 3.0rem;
    margin-bottom: 18px;
  }
}

#about-container-fluid p {
  color: #fff;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  #about-container-fluid p {
    font-size: 1.8rem;
  }
}

.about-container .about-main-area .about-main-image {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .about-container .about-main-area .about-main-image {
    margin-top: 90px;
  }
  .about-container .about-main-area .about-main-image img {
    height: 530px;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }
}

.about-container .about-main-area h2 {
  width: 220px;
  margin-top: -40px;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .about-container .about-main-area h2 {
    width: 380px;
    margin-top: -50px;
    margin-bottom: 30px;
  }
}

.about-text {
  display: flex;
  align-items: center;
  margin: 30px auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .about-text {
    margin: 30px auto;
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .about-text {
    max-width: 100%;
    width: 60%;
    padding: 0 2%;
    margin-left: 30px;
  }
}

@media (min-width: 992px) {
  .about-middle-area {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
}

.about-middle-area .about-middle-image-sp {
  margin-bottom: 30px;
  margin-top: 30px;
}

.about-middle-area .about-middle-image-pc {
  margin-top: 80px;
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .about-middle-area .about-text {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .about-middle-area .about-text {
    padding: 0% 6% 0px 2%;
  }
}

@media (min-width: 992px) {
  .about-bottom-area {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .about-bottom-area {
    width: 80%;
  }
}

.about-bottom-area .about-bottom-image {
  order: 2;
  margin-top: 30px;
  margin-bottom: 30px;
  margin: 15px;
}

@media (min-width: 992px) {
  .about-bottom-area .about-bottom-image {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

#bread-container-fluid {
  margin-top: -45px;
  padding-top: 45px;
}

.bread-pr-container-fluid {
  background: url("../images/bread_main_bg_sp.png") no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .bread-pr-container-fluid {
    background: url("../images/bread_main_bg_pc.jpg") no-repeat;
    background-size: cover;
  }
}

@media (min-width: 992px) {
  .bread-pr-container .bread-pr-read-area {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
}

.bread-pr-container .bread-main-image {
  margin-left: 40px;
  margin-top: -60px;
}

@media (min-width: 992px) {
  .bread-pr-container .bread-main-image {
    width: 60%;
    margin-top: -80px;
    order: 2;
  }
}

.bread-pr-container .bread-pr-read {
  margin-top: 10px;
}

@media (min-width: 992px) {
  .bread-pr-container .bread-pr-read {
    margin-top: 0;
    order: 1;
    width: 35%;
  }
}

@media (min-width: 992px) {
  .bread-pr-container .bread-pr-read .pr-text {
    font-size: 18px;
  }
}

.bread-pr-container h2 {
  margin-bottom: 20px;
}

.bread-pr-container h2 img {
  width: 220px;
}

@media (min-width: 992px) {
  .bread-pr-container h2 img {
    width: 380px;
  }
}

.bread-pr-container h2 span {
  display: block;
  font-weight: bold;
  margin-top: 8px;
}

.bread-pr-container h3 {
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 992px) {
  .bread-pr-container h3 {
    font-size: 25px;
    margin: 30px 0;
  }
}

.bread-pr-container .pr-image-sp {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: -15px;
}

.bread-pr-container .pr-image-pc {
  max-width: 653px;
}

@media (min-width: 992px) {
  .bread-pr-container .pr-image-pc {
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .bread-pr-container .pr-image-pc {
    margin-top: -30px;
  }
}

.pan-container-fluid h2 {
  width: 160px;
  margin: 0 auto 30px;
}

@media (min-width: 576px) {
  .pan-container-fluid h2 {
    margin-top: 30px;
  }
}

@media (min-width: 768px) {
  .pan-container-fluid h2 {
    width: 200px;
    margin: 80px auto 60px;
  }
}

.pan-container-fluid section h3 {
  color: #D47A1A;
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .pan-container-fluid section h3 {
    font-size: 25px;
  }
}

.pan-container-fluid section .read-container h3 {
  margin: 0 auto 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .pan-container-fluid section .read-container h3 {
    font-size: 3.0rem;
  }
}

.pan-container-fluid section .read-container p {
  text-align: left;
}

@media (min-width: 768px) {
  .pan-container-fluid section .read-container p {
    text-align: center;
  }
}

.section-cro .cro-slider-area {
  width: 90%;
  margin: 30px auto 0;
}

@media (min-width: 768px) {
  .section-cro .cro-slider-area {
    margin: 50px auto;
  }
}

.section-cro .cro-slider-area .cro-slider-list {
  position: relative;
}

.section-cro .cro-slider-area .cro-slider-list li {
  padding: 2px;
}

.section-cro .cro-slider-area .cro-slider-list li h4 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 20px 0 5px;
}

@media (min-width: 768px) {
  .section-cro .cro-slider-area .cro-slider-list li h4 {
    font-size: 1.8rem;
  }
}

.section-cro .cro-slider-area .cro-slider-list li .fee {
  font-size: 1.6rem;
  font-weight: bold;
  color: #D47A1A;
}

@media (min-width: 768px) {
  .section-cro .cro-slider-area .cro-slider-list li .fee {
    font-size: 1.8rem;
    margin-bottom: 5px;
  }
}

.section-cro .cro-slider-area .cro-slider-list li .fee::after {
  content: '(税別)';
  font-size: 1.0rem;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .section-cro .cro-slider-area .cro-slider-list li .fee::after {
    font-size: 1.3rem;
  }
}

.section-cro .cro-slider-area .cro-slider-list li .set-fee {
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .section-cro .cro-slider-area .cro-slider-list li .set-fee {
    font-size: 1.8rem;
  }
}

.section-cro .cro-slider-area .cro-slider-list li .set-fee::after {
  content: '(税別)';
  font-size: 1.0rem;
  margin-left: 5px;
  color: #D47A1A;
}

@media (min-width: 768px) {
  .section-cro .cro-slider-area .cro-slider-list li .set-fee::after {
    font-size: 1.3rem;
  }
}

.section-cro .cro-slider-area .cro-slider-list li .text {
  margin: 0 10px;
}

.section-cro .cro-slider-area .cro-slider-list img.slide-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 30px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .section-cro .cro-slider-area .cro-slider-list img.slide-arrow {
    width: 40px;
  }
}

.section-cro .cro-slider-area .cro-slider-list img.prev-arrow {
  left: -15px;
}

@media (min-width: 992px) {
  .section-cro .cro-slider-area .cro-slider-list img.prev-arrow {
    left: -45px;
  }
}

.section-cro .cro-slider-area .cro-slider-list img.next-arrow {
  right: -15px;
}

@media (min-width: 992px) {
  .section-cro .cro-slider-area .cro-slider-list img.next-arrow {
    right: -45px;
  }
}

.section-cro .cro-slider-area .cro-slider-list .slick-dots {
  bottom: -40px;
}

@media (min-width: 768px) {
  .section-cro .cro-slider-area .cro-slider-list .slick-dots {
    bottom: -60px;
  }
}

.section-cro .cro-slider-area .slick-dots li {
  margin: 0;
}

@media (min-width: 768px) {
  .section-cro .cro-slider-area .slick-dots li {
    margin: 0 5px;
  }
}

.section-pan {
  margin-top: 80px;
}

@media (min-width: 768px) {
  .section-pan {
    margin-top: 150px;
  }
}

.bread-gallery-aera {
  margin-top: 20px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .bread-gallery-aera {
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .bread-gallery-aera {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.bread-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bread-gallery li {
  width: 32%;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .bread-gallery li {
    width: 24%;
  }
}

@media (min-width: 992px) {
  .bread-gallery li {
    width: 19%;
    margin-bottom: 20px;
  }
}

.menu-container-fluid {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .menu-container-fluid {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}

@media (min-width: 992px) {
  .menu-container-fluid {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}

.menu-container-fluid h2 {
  margin: 0 auto 30px;
  color: #fff;
  text-align: center;
}

@media (min-width: 768px) {
  .menu-container-fluid h2 {
    margin: 0 auto 50px;
  }
}

@media (min-width: 992px) {
  .menu-container-fluid h2 {
    margin: 0 auto 80px;
  }
}

.menu-container-fluid h2 span {
  font-size: 1.4rem;
  display: block;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .menu-container-fluid h2 span {
    font-size: 1.8rem;
  }
}

.menu-container-fluid h2 img {
  height: 40px;
  width: auto;
}

@media (min-width: 768px) {
  .menu-container-fluid h2 img {
    height: 50px;
  }
}

@media (min-width: 992px) {
  .menu-container-fluid h2 img {
    height: 80px;
  }
}

#food-menu-container-fluid {
  background: #B99F79;
}

#drink-menu-container-fluid {
  background: #9F8B6D;
}

#sweets-menu-container-fluid {
  background: #D5A28F;
}

.menu-tab-nav-area {
  width: 100%;
  background: #242424;
}

.menu-tab-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

@media (min-width: 992px) {
  .menu-tab-nav {
    width: 80%;
    margin: 0 auto;
  }
}

.menu-tab-nav li {
  width: 33.333333%;
  text-align: center;
  border-right: 1px solid #fff;
}

.menu-tab-nav li:last-child {
  border-right: none;
}

.menu-tab-nav li a {
  background: #242424;
  color: #fff;
  padding: 15px 10px;
  display: block;
  font-size: 1.8rem;
  transition: 0.3s;
  font-family: yu-mincho-pr6, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 768px) {
  .menu-tab-nav li a {
    padding: 20px 10px;
    font-size: 2.2rem;
  }
}

.menu-tab-nav li a:hover, .menu-tab-nav li a.active {
  background: #D47A1A;
  color: #fff;
}

.menu-tab-nav li a:hover {
  cursor: pointer;
  transition: 0.3s;
}

.menu-tab-nav li a span {
  position: relative;
  display: block;
  color: #000;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 8px;
  padding-bottom: 10px;
}

.menu-tab-nav li a span::before, .menu-tab-nav li a span::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.menu-tab-nav li a span::before {
  width: 10px;
  height: 10px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-tab-content .top-image img {
  height: 200px;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}

@media (min-width: 992px) {
  .menu-tab-content .top-image img {
    height: 600px;
  }
}

.menu-container {
  background: #fff;
  margin-top: -50px;
  position: relative;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 30px;
  box-shadow: 0 0 8px #a2a2a2;
}

@media (min-width: 768px) {
  .menu-container {
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 992px) {
  .menu-container {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: -400px;
    padding-bottom: 80px;
  }
}

.menu-container .time {
  font-size: 2.2rem;
  color: #B99F79;
  display: block;
  text-align: center;
  letter-spacing: 1px;
  font-family: yu-mincho-pr6, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 992px) {
  .menu-container .time {
    font-size: 3.0rem;
  }
}

.menu-container .menu-title {
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding: 6px 0;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: #B99F79;
  position: relative;
  font-family: yu-mincho-pr6, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menu-container .menu-title:before {
  border-top: 1px solid;
  width: 100%;
  content: "";
  height: 1px;
  position: absolute;
  left: 0;
  top: -5px;
}

@media (min-width: 768px) {
  .menu-container .menu-title {
    padding: 15px 0;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .menu-container .menu-title {
    font-size: 3.5rem;
  }
}

.menu-container .set {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (min-width: 768px) {
  .menu-container .set {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .menu-container .set .set-text {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .menu-container .set .set-text {
    width: 30%;
  }
}

.menu-container .set .set-text p {
  font-weight: bold;
}

@media (min-width: 768px) {
  .menu-container .set .set-text p {
    font-size: 1.8rem;
  }
}

.menu-container .set .set-name {
  font-size: 1.6rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .menu-container .set .set-name {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .menu-container .set .set-name {
    font-size: 2.2rem;
  }
}

.menu-container .set .set-name span.fee {
  font-size: 1.3rem;
  margin-left: 10px;
  color: #D47A1A;
}

@media (min-width: 768px) {
  .menu-container .set .set-name span.fee {
    font-size: 1.5rem;
    margin-left: 0;
  }
}

.menu-container .set .set-name span.number {
  font-size: 2.5rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .menu-container .set .set-name span.number {
    font-size: 3.5rem;
  }
}

.menu-container .set ul {
  margin-top: 10px;
}

.menu-container .set ul li {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.menu-container .set .set-image {
  width: 90%;
  margin: 10px auto 0;
}

.menu-container .set .set-image img {
  width: 100%;
}

@media (min-width: 768px) {
  .menu-container .set .set-image {
    width: 58%;
  }
}

@media (min-width: 1200px) {
  .menu-container .set .set-image {
    width: 48%;
  }
}

.menu-container .set .choice {
  margin: 0 auto;
  text-align: center;
}

.menu-container .set .choice .choice-title img {
  height: 25px;
  width: auto;
}

.menu-container .set .choice .choice-pan {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .menu-container .set .choice .choice-pan {
    width: 100%;
  }
}

.menu-container .set .choice p {
  margin: 10px 0 5px;
}

@media (min-width: 768px) {
  .menu-container .set .choice p {
    font-size: 1.4rem;
  }
}

.menu-container .set .menu-line {
  margin: 20px 0;
}

@media (min-width: 768px) {
  .menu-container .set .menu-line {
    margin: 35px 0;
  }
}

.anytime-menu-container::before {
  content: "";
  top: 0;
  left: 0;
  border-bottom: 80px solid transparent;
  border-left: 80px solid #242424;
  position: absolute;
  z-index: 10;
}

@media (min-width: 992px) {
  .anytime-menu-container::before {
    border-bottom: 130px solid transparent;
    border-left: 130px solid #242424;
  }
}

.anytime-menu-container::after {
  content: "いつでも";
  display: block;
  top: 20px;
  transform: rotate(-45deg);
  color: #fff;
  left: 0px;
  position: absolute;
  z-index: 20;
  font-weight: bold;
}

@media (min-width: 992px) {
  .anytime-menu-container::after {
    top: 35px;
    left: 10px;
    font-size: 2.0rem;
  }
}

.morning-menu-container::before {
  content: "";
  top: 0;
  left: 0;
  border-bottom: 80px solid transparent;
  border-left: 80px solid #fc5959;
  position: absolute;
  z-index: 10;
}

@media (min-width: 992px) {
  .morning-menu-container::before {
    border-bottom: 130px solid transparent;
    border-left: 130px solid #fc5959;
  }
}

.morning-menu-container::after {
  content: "朝だけ";
  display: block;
  top: 20px;
  transform: rotate(-45deg);
  color: #fff;
  left: 3px;
  position: absolute;
  z-index: 20;
  font-weight: bold;
}

@media (min-width: 992px) {
  .morning-menu-container::after {
    top: 35px;
    left: 20px;
    font-size: 2.0rem;
  }
}

.lunch-menu-container::before {
  content: "";
  top: 0;
  left: 0;
  border-bottom: 80px solid transparent;
  border-left: 80px solid #ff9525;
  position: absolute;
  z-index: 10;
}

@media (min-width: 992px) {
  .lunch-menu-container::before {
    border-bottom: 130px solid transparent;
    border-left: 130px solid #ff9525;
  }
}

.lunch-menu-container::after {
  content: "昼だけ";
  display: block;
  top: 20px;
  transform: rotate(-45deg);
  color: #fff;
  left: 3px;
  position: absolute;
  z-index: 20;
  font-weight: bold;
}

@media (min-width: 992px) {
  .lunch-menu-container::after {
    top: 35px;
    left: 20px;
    font-size: 2.0rem;
  }
}

.menu-container-middle {
  margin-top: 20px;
}

@media (min-width: 992px) {
  .item-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.item-list-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .item-list-box {
    width: 48%;
    margin-bottom: 35px;
  }
}

.item-list-box .item-image {
  width: 40%;
}

@media (min-width: 992px) {
  .item-list-box .item-image {
    width: 100%;
  }
}

.item-list-box .item-text {
  width: 55%;
}

@media (min-width: 992px) {
  .item-list-box .item-text {
    width: 100%;
    margin-top: 20px;
  }
}

.item-list-box .item-text h4 {
  font-size: 1.4rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .item-list-box .item-text h4 {
    font-size: 2.0rem;
    margin-bottom: 10px;
  }
}

.item-list-box .item-text .fee {
  font-size: 1.4rem;
  color: #D47A1A;
  font-weight: bold;
}

@media (min-width: 768px) {
  .item-list-box .item-text .fee {
    font-size: 2.0rem;
  }
}

.item-list-box .item-text .set-fee {
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .item-list-box .item-text .set-fee {
    font-size: 2.0rem;
  }
}

.item-list-box .item-text span {
  font-size: 1.0rem;
}

@media (min-width: 768px) {
  .item-list-box .item-text span {
    font-size: 1.3rem;
  }
}

.menu-container .set .item-list-no-image {
  width: 100%;
}

@media (min-width: 992px) {
  .menu-container .set .item-list-no-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.menu-container .set .item-list-no-image li {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.4rem;
}

@media (min-width: 992px) {
  .menu-container .set .item-list-no-image li {
    width: 48%;
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
}

.menu-container .set .item-list-no-image .item-line {
  position: relative;
  top: calc(50% - 1px);
  margin: 0 10px;
  border: none;
  border-top: dotted 2px #CCC;
}

.menu-container .set .item-list-no-image .line {
  flex: auto;
}

.menu-container .set .item-list-no-image .fee::after {
  content: '(税別)';
  font-size: 1.0rem;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .menu-container .set .item-list-no-image .fee::after {
    font-size: 1.3rem;
  }
}

#access-container-fluid {
  background-color: #f7f6f2;
}

#access-container-fluid .logo {
  margin: 0 auto;
  width: 40%;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  #access-container-fluid .logo {
    width: 30%;
  }
}

@media (min-width: 992px) {
  #access-container-fluid .logo {
    width: 20%;
    max-width: 300px;
  }
}

#access-container-fluid .logo p {
  font-size: 2.2rem;
  color: #fff;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
}

#access-container-fluid .sub {
  margin-bottom: 30px;
}

#access-container-fluid .sub p {
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 768px) {
  #access-container-fluid .sub p {
    font-size: 2.4rem;
  }
}

.access-top-area {
  background: url("../images/footer_bg_sp.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 -15px -120px;
  padding: 40px 0;
}

@media (min-width: 768px) {
  .access-top-area {
    background: url("../images/footer_bg_pc.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
  }
}

.access-top-area .access-top-text {
  padding: 40px 0 100px;
}

.access-container {
  background-color: #fff;
  padding: 30px 15px;
}

@media (min-width: 992px) {
  .access-container {
    padding: 30px 50px;
  }
}

.access-container h2 {
  margin: 10px 0;
  text-align: center;
}

@media (min-width: 768px) {
  .access-container h2 {
    margin: 20px 0;
  }
}

.access-container h2 img {
  height: 40px;
  width: auto;
}

.access-container iframe {
  width: 100%;
  border: 1px #b7b7b7 solid;
  margin: 20px auto;
  height: 220px;
}

@media (min-width: 768px) {
  .access-container iframe {
    height: 350px;
  }
}

.access-container .access-box {
  display: flex;
  align-items: baseline;
}

.access-container .access-box h4 {
  font-size: 1.4rem;
  font-weight: bold;
  width: 10%;
  min-width: 40px;
}

@media (min-width: 768px) {
  .access-container .access-box h4 {
    font-size: 1.8rem;
  }
}

.access-container .access-box-facility ul li {
  color: #FC9207;
  font-weight: bold;
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.access-container .access-box-facility ul li img {
  width: 20px;
  height: auto;
}

.access-container .access-box-facility ul li span {
  margin-left: 5px;
}

.access-container hr {
  border-top: 1px solid #333;
  margin: 1em auto;
}
