@import"_parameter.scss";


html{
	font-size: 62.5%;
}

body{
	font-size: 1.6rem;
    font-family:"游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
}

img{
	width: 100%;
	height: auto;
}

p{
    line-height: 1.5;
    font-size: 1.4rem;
    @include pc {
        font-size: 1.8rem;
    }
}
h1,h2,h3{
    line-height: 1.6;
}

a:hover{
	text-decoration: none;
}

p,h1,h2,h3,h4{
    color: $black;
}

.orange{
    color: $dark-orange;
}

/*--------------------------------------

SPメニュー

--------------------------------------*/
header{
    position: relative;
}
#mobile-gmenu{
	height: 45px;
	position: fixed;
	width: 100%;
	top: 0;
	background: #242424;
    z-index: 100;
    @include pc {
        display: none;
    }
}
.mobile-menu-block-menu{
    height: 45px;
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    z-index: 99;
    background: $orange;
}
.mobile-menu-block-access{
    height: 45px;
    position: absolute;
    right: 45px;
    top: 0;
    width: 45px;
    z-index: 99;
    background: #9F8B6D;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    img{
    	height: 16px;
    }
    span{
    	font-size: 0.9rem;
    	color: #fff;
    	padding-top: 4px;
    }
}
a.mobile-gmenu-menu{
    height: 20px;
    width: 30px;
    position: absolute;
    top: 12px;
    right: 7px;
}
.menu__line{
    background: #fff;
    display: block;
    height: 2px;
    position: absolute;
    transition:transform .3s;
    width: 100%;
}
.menu__line--center{
    top: 9px;
}
.menu__line--bottom{
    bottom: 0;
}
.mobile-menu{
    text-align: center;
    ul{
        li{
            margin-bottom: 35px;
            a{
                color: #fff;
                font-size: 2.0rem;
                font-weight: bold;
            }
        }
    }
}
/*modaal 変更*/
.modaal-close{
    right: 0;
    top: 0; 
}
.modaal-container{
    background: none;
}
/*ヘッダーロゴ*/
.header-logo-sp{
	position: absolute;
	top: 15px;
	left: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    img{
    	width: 130px;
    }
    span{
    	color: #fff;
    	font-size: 1.2rem;
    	display: inline-block;
    	margin-left: 5px;
    	letter-spacing: 1px;
    }
}

/*--------------------------------------

PC・タブレットメニュー

--------------------------------------*/
#pc-gmenu{
    display: none;
    @include pc {
        display: block;
    }
}
#pc-gmenu {
  display: none;
}

@media (min-width: 768px) {
  #pc-gmenu {
    display: block;
  }
}
.pc-gmenu-container-fluid{
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  transition: 0.3s;
}
.pc-gmenu-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 25px 0;
  transition: 0.3s;
  @include xl {
    justify-content: space-between;
  }
  .header-logo-pc{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    img{
        width: 200px;
        backface-visibility: hidden;
    }
    span{
        font-size: 1.5rem;
        display: inline-block;
        margin-left: 15px;
        color: #fff;
    }
  }
}
.is-animation .pc-gmenu-container{
    padding: 20px 0;
}
.is-animation.pc-gmenu-container-fluid{
    background: rgba(0, 0, 0, 1);
}
.gnav-pc{
    margin-top: 20px;
    @include xl {
        margin-top: 0;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            margin-left: 30px;
            &::first-child{
                margin-left: 0;
            }
            a{
                color: #fff;
                font-size: 1.5rem;
                position: relative;
                display: inline-block;
                transition: 0.3s;
                padding-bottom: 5px;
                &::after{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: '';
                    width: 0;
                    border-bottom: solid 2px #fff;
                    transition: 0.3s;
                }
                &:hover{
                    color: #fff;
                    &::after{
                        width: 30px;
                    }
                }
            }
        }
    }
}

