@import"_parameter.scss";

#hero-container-fluid{
	position: relative;
	margin-top: 45px;
	z-index: -100;
	@include pc {
		margin-top: 0;
	}
	.hero-image-logo{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		margin: auto;
		@include pc {
			width: 200px;
			top: 60%;
			transform: translateY(-60%) translateX(-50%);
		}
		@include lg {
			width: 250px;
			transform: translateY(-50%) translateX(-50%);
		}
	}
}
.hero-image-sp,.hero-image-pc{
	width: 100%;
}
#hero-under-container-fluid{
	background-color: #1E1E1E;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #242424), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #242424),color-stop(.75, #242424), color-stop(.75, transparent),to(transparent));
	-webkit-background-size: 18px 18px;
	background-size: 18px 18px;
	padding-top: 15px;
	padding-bottom: 15px;
    z-index: -1;
    position: relative;
	@include pc {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.row{
		position: relative;
	}
}
.hero-under-container{
	ul{
		@include pc {
			display: flex;
			flex-wrap: wrap;
		}
		li{
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			margin-bottom: 14px;
			p{
				color: #fff;
			}
			&:last-child{
				margin-bottom: 0;
			}
			@include pc {
				margin-right: 40px;
				margin-bottom: 0;
				font-size: 2.2rem;
			}
			.title{
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				margin-bottom: 5px;
				font-weight: bold;
				font-size: 1.5rem;
				@include pc {
					font-size: 2.2rem;
				}
			img{
				width: 15px;
				@include pc {
					width: 20px;
				}
			}
			span{
				padding-left: 5px;
				line-height: 1;
			}
			}
			.time{
				font-size: 1.5rem;
				@include pc {
					font-size: 2.0rem;
				}
			}			
		}
	}
}
.hero-under-strength{
    position: absolute;
    width: 140px;
    right: 15px;
    top: -55px;
    @include pc {
    	width: 200px;
    	right: 80px;
    	top: -140px;
    }
    @include lg {
    	right: 150px;
    }
}

#top-information-container-fluid{
	background: #F3F1E3;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 50px;
}
.top-information-container{
	h1{
		font-size: 16px;
		margin-bottom: 20px;
		text-align: center;
		font-weight: bold;
		@include pc {
			font-size: 25px;
			margin-top: 20px;
			margin-bottom: 45px;
		}
	}
	.top-bnr{
		text-align: center;
		max-width: 690px;
		margin-bottom: 20px;
		margin: 0 auto 20px;
		@include pc {
			margin: 0 auto 50px;
		}
	}
	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li{
			width: 48.6%;
			@include pc {
				width: 32.5%;
			}
			a{
				border: 1px solid #E6E3CA;
				padding: 8px 0;
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				margin-bottom: 10px;
				background: #fff;
				text-align: center;
				transition: 0.2s;
				@include pc {
					padding: 15px 0;
				}
				&:hover{
					background: #fffbf5;
					transition: 0.2s;
					.menu-title{
						letter-spacing: 2px;
						transition: 0.2s;
					}
				}
				.icon{
					margin-bottom: 5px;
					img{
						height: 30px;
						@include pc {
							height: 40px;
						}
					}
				}
				.menu-title{
					font-size: 1.3rem;
					color: #9F8B6D;
					font-weight: bold;
					letter-spacing: 1px;
					transition: 0.2s;
					@include pc {
						font-size: 1.6rem;
					}
				}
			}
		}
	}
}
#news-container-fluid{
	margin-top: -45px;
	padding-top: 45px;
	@include pc {
		margin-top: -92px;
		padding-top: 92px;
	}
}
.news-container{
	position: relative;
	z-index: -1;
	h3{
		border-top: 1px solid;
		border-bottom: 1px solid;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
		padding: 5px 0;
		@include pc {
			padding: 10px 0;
			margin-bottom: 30px;
		}
		img{
			height: 30px;
			width: auto;
			@include pc {
				height: 35px;
			}
		}
		span{
			margin-left: 8px;
		}
	}
	section{
		margin-bottom: 30px;
		@include pc {
			margin-bottom: 55px;
		}
		.news-box{
			margin-bottom: 15px;
			.text{
				p{
					font-size: 1.3rem;
					@include pc {
						font-size: 1.6rem;
					}
				}
			}
		}
	}
}

#about-container-fluid{
	background: $orange;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #e9890a),color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, #e9890a), color-stop(0.75, #e9890a), color-stop(0.75, transparent), to(transparent));
	padding-bottom: 65px;
	@include pc {
		padding-bottom: 100px;
	}
	@include lg {
		padding-bottom: 150px;
	}
		h3{
		color: #fff;
		font-size: 2.0rem;
		font-weight: bold;
		margin-bottom: 10px;
		@include pc {
			font-size: 3.0rem;
			margin-bottom: 18px;
		}

	}
	p{
		color: #fff;
		font-size: 1.5rem;
		@include pc {
			font-size: 1.8rem;
		}
	}	
}

.about-container{
	.about-main-area{
		.about-main-image{
			margin-right: -15px;
			margin-left: -15px;
			@include sp {
				margin-top: 90px;
				img{
					height: 530px;
					object-fit: cover;
    				font-family: 'object-fit: cover;';
				}
			}
		}
		h2{
			width: 220px;
			margin-top: -40px;
			margin-bottom: 10px;
			@include lg {
				width: 380px;
				margin-top: -50px;
				margin-bottom: 30px;
			}
		}
	}
}
.about-text{
	display: flex;
	align-items: center;
	margin: 30px auto;
	padding-right: 15px;
	padding-left: 15px;
	@include pc {
		margin: 30px auto;
		max-width: 720px;
	}
	@include lg {
		max-width: 100%;
		width: 60%;
		padding: 0 2%;
		margin-left: 30px;
	}
}

.about-middle-area{
	@include lg {
		display: flex;
		align-content: center;
		justify-content: space-between;
	}
	.about-middle-image-sp{
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.about-middle-image-pc{
		margin-top: 80px;
		margin-bottom: 50px;
	}
	.about-text{
		@include lg {
			width: 50%;
		}
		@include xl {
			padding: 0% 6% 0px 2%;
		}
	}
}

.about-bottom-area{
	@include lg {
		display: flex;
		align-content: center;
		justify-content: space-between;
		width: 90%;
		margin: 0 auto;
	}
	@include xl {
		width: 80%;
	}
	.about-bottom-image{
		order: 2;
		margin-top: 30px;
		margin-bottom: 30px;
		margin: 15px;
		@include lg {
			margin-bottom: 0;
			margin-right: 30px;
		}
	}
}

#bread-container-fluid{
	margin-top: -45px;
	padding-top: 45px;
}
.bread-pr-container-fluid{
	background: url('../images/bread_main_bg_sp_02.jpg') no-repeat;
	background-size: cover;
	padding-bottom: 50px;
	@include lg {
		background: url('../images/bread_main_bg_pc.jpg') no-repeat;
		background-size: cover;
	}
}
.bread-pr-container{
	.bread-pr-read-area{
		@include lg {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;
		}
	}
	.bread-main-image{
		margin-left: 40px;
		margin-top: -60px;
		@include lg {
			width: 60%;
			margin-top: -80px;
			order: 2;
		}
	}
	.bread-pr-read{
		margin-top: 10px;
		@include lg{
			margin-top: 0;
			order: 1;
			width: 35%;
		}
		.pr-text{
			@include lg {
				font-size: 18px;
			}
		}
	}
	h2{
		margin-bottom: 20px;
		img{
			width: 220px;
			@include lg {
				width: 380px;
			}
		}
		span{
			display: block;
			font-weight: bold;
			margin-top: 8px;
		}
	}
	h3{
		font-size: 18px;
		font-weight: bold;
		@include lg {
			font-size: 25px;
			margin: 30px 0;
		}
	}
	.pr-image-sp{
		margin-top: 30px;
		margin-bottom: 30px;
		margin-right: -15px;
	}
	.pr-image-pc{
		max-width: 653px;
		@include lg {
			margin-top: 30px;
		}
		@include xl {
			margin-top: -30px;
		}
	}
}

.pan-container-fluid{
	h2{
		width: 160px;
		margin: 50px auto 30px;
		@include pc {
			width: 200px;
			margin: 80px auto 60px;
		}
	}
	section h3{
		color: #D47A1A;
		font-size: 1.8rem;
		margin-bottom: 10px;
		font-weight: bold;
		@include pc {
			font-size: 25px;
		}
	}
}

.section-cro{
	.cro-slider-area{
			width: 90%;
			margin: 30px auto 0;
			@include pc {
				margin: 50px auto;
			}
		.cro-slider-list{
			position: relative;
			li{
				padding: 2px;
				h4{
					font-size: 1.6rem;
					font-weight: bold;
					margin: 20px 0 5px;
					@include pc {
						font-size: 1.8rem;
					}
				}
				.fee{
					font-size: 1.6rem;
					font-weight: bold;
					color: #D47A1A;
					@include pc {
						font-size: 1.8rem;
						margin-bottom: 10px;
					}
				}
				.text{
					font-size: 1.3rem;
					@include pc {
						font-size: 1.5rem;
					}
				}
			}
			img.slide-arrow{
				position: absolute;
				z-index: 1;
				top: 50%;
				-webkit-transform: translate(0, -50%);
				-ms-transform: translate(0, -50%);
				transform: translate(0, -50%);
				width: 30px;
			    cursor: pointer;
				@include pc {
					width: 40px;
				}
			}
			img.prev-arrow{
				left: -15px;
			}
			img.next-arrow{
				right: -15px;
			}
			.slick-dots{
				bottom: -40px;
				@include pc {
					bottom: -60px;
				}
			}
		}
	}
}