@import"_parameter.scss";

#hero-wrapper{
	position: relative;
	margin-top: 45px;
	// z-index: -100;
	@include pc {
		margin-top: 0;
	}
	.hero-slider{
		background: #000;
	}
	.hero-slider-list{
		opacity: 0;
		transition: 2s;
		.slick-slide{
			img{
				height: 360px;
				object-fit: cover;
				font-family: 'object-fit: cover;';
				@include sp {
					height: 500px;
				}
				@include pc {
					height: 600px;
				}
				@include lg {
					height: auto;
				}
			}
		}
		@include lg {
			.slick-slide:not(.slick-center){
				opacity: 0.75;
				transition: 0.2s linear;
			}			
		}

	}
	.slick-initialized{
    	opacity: 1
	}
	.hero-image-logo{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		margin: auto;
		@include pc {
			width: 200px;
			top: 60%;
			transform: translateY(-60%) translateX(-50%);
		}
		@include lg {
			width: 250px;
			transform: translateY(-50%) translateX(-50%);
		}
	}
}


#hero-under-container-fluid{
	background-color: #1E1E1E;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #242424), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #242424),color-stop(.75, #242424), color-stop(.75, transparent),to(transparent));
	-webkit-background-size: 18px 18px;
	background-size: 18px 18px;
	padding-top: 15px;
	padding-bottom: 15px;
    position: relative;
	@include pc {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.row{
		position: relative;
	}
}
.hero-under-container{
	ul{
		@include pc {
			display: flex;
			flex-wrap: wrap;
		}
		li{
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			margin-bottom: 14px;
			p{
				color: #fff;
			}
			&:last-child{
				margin-bottom: 0;
			}
			@include pc {
				margin-right: 40px;
				margin-bottom: 0;
				font-size: 2.2rem;
			}
			.title{
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				margin-bottom: 5px;
				font-weight: bold;
				font-size: 1.5rem;
				letter-spacing: 2px;
				@include pc {
					font-size: 2.2rem;
				}
				@include lg {
					font-size: 2.8rem;
				}
			img{
				width: 15px;
				@include pc {
					width: 20px;
				}
				@include lg {
					width: 30px;
				}
			}
			span{
				padding-left: 5px;
				line-height: 1;
			}
			}
			.time{
				font-size: 1.5rem;
				@include pc {
					font-size: 2.0rem;
				}
				@include lg {
					font-size: 2.5rem;
				}
			}			
		}
	}
}
.hero-under-strength{
    position: absolute;
    width: 140px;
    right: 15px;
    top: -55px;
    @include pc {
    	width: 200px;
    	right: 80px;
    	top: -140px;
    }
    @include lg {
    	right: 150px;
    }
    @include xxl {
    	width: 280px;
    	top: -210px;
    	right: 300px;
    }
}

#top-information-container-fluid{
	background: #F3F1E3;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 50px;
}
.top-information-container{
	h1{
		font-size: 16px;
		margin-bottom: 20px;
		text-align: center;
		font-weight: bold;
		@include pc {
			font-size: 25px;
			margin-top: 20px;
			margin-bottom: 45px;
		}
	}
	.top-bnr{
		text-align: center;
		max-width: 690px;
		margin-bottom: 20px;
		margin: 0 auto 20px;
		@include pc {
			margin: 0 auto 50px;
		}
	}
	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li{
			width: 48.6%;
			@include pc {
				width: 32.5%;
			}
			a{
				border: 1px solid #E6E3CA;
				padding: 8px 0;
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				margin-bottom: 10px;
				background: #fff;
				text-align: center;
				transition: 0.2s;
				@include pc {
					padding: 15px 0;
				}
				&:hover{
					background: #fffbf5;
					transition: 0.2s;
					.menu-title{
						letter-spacing: 2px;
						transition: 0.2s;
					}
				}
				.icon{
					margin-bottom: 5px;
					img{
						height: 30px;
						@include pc {
							height: 40px;
						}
					}
				}
				.menu-title{
					font-size: 1.3rem;
					color: #9F8B6D;
					font-weight: bold;
					letter-spacing: 1px;
					transition: 0.2s;
					@include pc {
						font-size: 1.6rem;
					}
				}
			}
		}
	}
}
.news-container{
	h3{
		border-top: 1px solid;
		border-bottom: 1px solid;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
		padding: 5px 0;
		@include pc {
			padding: 10px 0;
			margin-bottom: 30px;
		}
		img{
			height: 30px;
			width: auto;
			@include pc {
				height: 45px;
			}
		}
		span{
			margin-left: 8px;
		}
	}
	section{
		margin-bottom: 30px;
		@include pc {
			margin-bottom: 55px;
		}
		.news-box{
			margin-bottom: 15px;
			.text{
				p{
					font-size: 1.3rem;
					@include pc {
						font-size: 1.6rem;
					}
				}
			}
		}
	}
}

#about-container-fluid{
	background: $orange;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #e9890a),color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, #e9890a), color-stop(0.75, #e9890a), color-stop(0.75, transparent), to(transparent));
	padding-bottom: 65px;
	@include pc {
		padding-bottom: 100px;
	}
	@include lg {
		padding-bottom: 150px;
	}
		h3{
		color: #fff;
		font-size: 2.0rem;
		font-weight: bold;
		margin-bottom: 10px;
		@include pc {
			font-size: 3.0rem;
			margin-bottom: 18px;
		}

	}
	p{
		color: #fff;
		font-size: 1.5rem;
		@include pc {
			font-size: 1.8rem;
		}
	}	
}

.about-container{
	.about-main-area{
		.about-main-image{
			margin-right: -15px;
			margin-left: -15px;
			@include sp {
				margin-top: 90px;
				img{
					height: 530px;
					object-fit: cover;
    				font-family: 'object-fit: cover;';
				}
			}
		}
		h2{
			width: 220px;
			margin-top: -40px;
			margin-bottom: 10px;
			@include lg {
				width: 380px;
				margin-top: -50px;
				margin-bottom: 30px;
			}
		}
	}
}
.about-text{
	display: flex;
	align-items: center;
	margin: 30px auto;
	padding-right: 15px;
	padding-left: 15px;
	@include pc {
		margin: 30px auto;
		max-width: 720px;
	}
	@include lg {
		max-width: 100%;
		width: 60%;
		padding: 0 2%;
		margin-left: 30px;
	}
}

.about-middle-area{
	@include lg {
		display: flex;
		align-content: center;
		justify-content: space-between;
	}
	.about-middle-image-sp{
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.about-middle-image-pc{
		margin-top: 80px;
		margin-bottom: 50px;
	}
	.about-text{
		@include lg {
			width: 50%;
		}
		@include xl {
			padding: 0% 6% 0px 2%;
		}
	}
}

.about-bottom-area{
	@include lg {
		display: flex;
		align-content: center;
		justify-content: space-between;
		width: 90%;
		margin: 0 auto;
	}
	@include xl {
		width: 80%;
	}
	.about-bottom-image{
		order: 2;
		margin-top: 30px;
		margin-bottom: 30px;
		margin: 15px;
		@include lg {
			margin-bottom: 0;
			margin-right: 30px;
		}
	}
}

#bread-container-fluid{
	margin-top: -45px;
	padding-top: 45px;
}
.bread-pr-container-fluid{
	background: url('../images/bread_main_bg_sp_02.jpg') no-repeat;
	background-size: cover;
	padding-bottom: 50px;
	@include lg {
		background: url('../images/bread_main_bg_pc.jpg') no-repeat;
		background-size: cover;
	}
}
.bread-pr-container{
	.bread-pr-read-area{
		@include lg {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: space-between;
		}
	}
	.bread-main-image{
		margin-left: 40px;
		margin-top: -60px;
		@include lg {
			width: 60%;
			margin-top: -80px;
			order: 2;
		}
	}
	.bread-pr-read{
		margin-top: 10px;
		@include lg{
			margin-top: 0;
			order: 1;
			width: 35%;
		}
		.pr-text{
			@include lg {
				font-size: 18px;
			}
		}
	}
	h2{
		margin-bottom: 20px;
		img{
			width: 220px;
			@include lg {
				width: 380px;
			}
		}
		span{
			display: block;
			font-weight: bold;
			margin-top: 8px;
		}
	}
	h3{
		font-size: 18px;
		font-weight: bold;
		@include lg {
			font-size: 25px;
			margin: 30px 0;
		}
	}
	.pr-image-sp{
		margin-top: 30px;
		margin-bottom: 30px;
		margin-right: -15px;
	}
	.pr-image-pc{
		max-width: 653px;
		@include lg {
			margin-top: 30px;
		}
		@include xl {
			margin-top: -30px;
		}
	}
}

.pan-container-fluid{
	h2{
		width: 160px;
		margin: 50px auto 30px;
		@include pc {
			width: 200px;
			margin: 80px auto 60px;
		}
	}
	section h3{
		color: $dark-orange;
		font-size: 1.8rem;
		margin-bottom: 10px;
		font-weight: bold;
		@include pc {
			font-size: 25px;
		}
	}
}

.section-cro{
	.cro-slider-area{
			width: 90%;
			margin: 30px auto 0;
			@include pc {
				margin: 50px auto;
			}
		.cro-slider-list{
			position: relative;
			li{
				padding: 2px;
				h4{
					font-size: 1.6rem;
					font-weight: bold;
					margin: 20px 0 5px;
					@include pc {
						font-size: 1.8rem;
					}
				}
				.fee{
					font-size: 1.6rem;
					font-weight: bold;
					color: $dark-orange;
					@include pc {
						font-size: 1.8rem;
						margin-bottom: 5px;
					}
					&::after{
						content: '(税別)';
						font-size: 1.0rem;
						margin-left: 5px;
						@include pc {
							font-size: 1.3rem;
						}
					}			
				}
				.set-fee{
					font-size: 1.6rem;
					@include pc {
						font-size: 1.8rem;
					}
					&::after{
						content: '(税別)';
						font-size: 1.0rem;
						margin-left: 5px;
						color: $dark-orange;
						@include pc {
							font-size: 1.3rem;
						}
					}
				}
				.text{
					margin: 0 10px;
				}
			}
			img.slide-arrow{
				position: absolute;
				z-index: 1;
				top: 50%;
				-webkit-transform: translate(0, -50%);
				-ms-transform: translate(0, -50%);
				transform: translate(0, -50%);
				width: 30px;
			    cursor: pointer;
				@include pc {
					width: 40px;
				}
			}
			img.prev-arrow{
				left: -15px;
				@include lg {
					left: -45px;
				}
			}
			img.next-arrow{
				right: -15px;
				@include lg {
					right: -45px;
				}
			}
			.slick-dots{
				bottom: -40px;
				@include pc {
					bottom: -60px;
				}
			}
		}
		.slick-dots{
			li{
				margin: 0;
				@include pc {
					margin: 0 5px;
				}
			}
		}
	}
}

.section-pan{
	margin-top: 80px;
	@include pc {
		margin-top: 150px;
	}
}

.menu-container-fluid{
	padding-top: 30px;
	padding-bottom: 30px;
	@include pc {
		padding-top: 60px;
		padding-bottom: 70px;
	}
	@include lg {
		padding-top: 80px;
		padding-bottom: 100px;
	}
	h2{
		margin:0 auto 30px;
		color: #fff;
		text-align: center;
		@include pc {
			margin: 0 auto 50px;
		}
		@include lg {
			margin: 0 auto 80px;
		}
		span{
			font-size: 1.4rem;
			display: block;
			margin-bottom: 5px;
			@include pc {
				font-size: 1.8rem;	
			}
		}
		img{
			height: 40px;
			width: auto;
			@include pc {
				height: 50px;
			}
			@include lg {
				height: 80px;
			}
		}
	}
}
#food-menu-container-fluid{
	 background: #B99F79;
}
#drink-menu-container-fluid{
	 background: #9F8B6D;
}
#sweets-menu-container-fluid{
	 background: #D5A28F;
}
.menu-tab-nav-area{
	width: 100%;
	background: #242424;
}
.menu-tab-nav{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	@include lg {
		width: 80%;
		margin: 0 auto;
	}
	li{
		width: 33.333333%;
		text-align: center;
		border-right: 1px solid #fff;
		&:last-child{
			border-right: none;
		}
		a{
		    background: #242424;
		    color: #fff;
		    padding: 15px 10px;
		    display: block;
		    font-size: 1.8rem;
		    transition: 0.3s;
		    @include font-mincho;
		    @include pc {
		    	padding: 20px 10px;
		    	font-size: 2.2rem;
		    }
		    &:hover, &.active{
		    	background: $dark-orange;
		    	color: #fff;
		    }
		    &:hover{
		    	cursor: pointer;
		    	transition: 0.3s;
		    }
			span{
				position: relative;
				display: block;
				color: #000;
				vertical-align: middle;
				text-decoration: none;
				font-size: 1.5rem;
				margin-top: 8px;
				padding-bottom: 10px;
				&::before, &::after{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					content: "";
					vertical-align: middle;
				}
				&::before{
					width: 10px;
					height: 10px;
					border-right: 1px solid #fff;
					border-bottom: 1px solid #fff;
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
				}
			}
		}
	}
}

.menu-tab-content{
	.top-image{
		img{
			height: 200px;
    		object-fit: cover;
    		font-family: 'object-fit: cover;';
    		@include lg {
    			height: 600px;
    		}
		}
	}
}

.menu-container{
	background: #fff;
	margin-top: -50px;
	position: relative;
	width: 90%;
	padding-top: 20px;
	padding-bottom: 30px;
    box-shadow: 0 0 8px #a2a2a2;
	@include pc {
		padding-top: 40px;
		padding-left: 50px;
		padding-right: 50px;
	}
	@include lg {
		padding-left: 100px;
		padding-right: 100px;
		margin-top: -400px;
		padding-bottom: 80px;
	}
	.time{
		font-size: 2.2rem;
		color: $gold;
		display: block;
		text-align: center;
		letter-spacing: 1px;
		@include font-mincho;
		@include lg {
			font-size: 3.0rem;
		}
	}
	.menu-title{
		border-top: double;
		border-bottom: solid 1px;
		padding: 6px 0;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 20px;
		font-size: 2.4rem;
		letter-spacing: 1px;
		color: $gold;
		@include font-mincho;
		@include pc {
			padding: 15px 0;
			margin-top: 30px;
			margin-bottom: 40px;
		}
		@include lg {
			font-size: 3.5rem;
		}
	}
	.set{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		@include pc {
			flex-direction: row;
		}
		.set-text{
			@include pc {
				width: 40%;
			}
			@include xl {
				width: 30%;
			}
			p{
				font-weight: bold;
				@include pc {
					font-size: 1.8rem;
				}
			}
		}
		.set-name{
			font-size: 1.6rem;
			font-weight: bold;
			@include pc {
				font-size: 1.8rem;
				margin-bottom: 10px;
			}
			@include lg {
				font-size: 2.2rem;
			}
			span.fee{
				font-size: 1.3rem;
				margin-left: 10px;
				color: $dark-orange;
				@include pc {
					font-size: 1.5rem;
					margin-left: 0;
				}
			}
			span.number{
				font-size: 2.5rem;
				font-weight: bold;
				@include pc {
					font-size: 3.5rem;
				}
			}
		}
		ul{
			margin-top: 10px;
			li{
				font-size: 1.5rem;
				margin-bottom: 8px;
			}
		}
		.set-image{
			width: 90%;
			margin: 10px auto 0;
			img{
				width: 100%;
			}
			@include pc {
				width: 58%;
			}
			@include xl {
				width: 48%;
			}
		}
		.choice{
			margin: 0 auto;
			text-align: center;
			.choice-title{
				img{
					height: 25px;
					width: auto;
				}
			}
			.choice-pan{
				width: 80%;
				margin: 0 auto;
				@include pc {
					width: 100%;
				}
			}
			p{
				margin: 10px 0 5px;
				@include pc {
					font-size: 1.4rem;
				}
			}
		}
		.menu-line{
			margin: 20px 0;
			@include pc {
				margin: 35px 0;
			}
		}
	}
}

.anytime-menu-container{
	&::before{
	    content: "";
	    top: 0;
	    left: 0;
	    border-bottom: 80px solid transparent;
	    border-left: 80px solid #242424;
	    position: absolute;
	    z-index: 10;
	    @include lg {
		    border-bottom: 130px solid transparent;
		    border-left: 130px solid #242424;
	    }
	}
	&::after{
	    content: "いつでも";
	    display: block;
	    top: 20px;
	    transform: rotate(-45deg);
	    color: #fff;
	    left: 0px;
	    position: absolute;
	    z-index: 20;
	    font-weight: bold;
	    @include lg {
	    	top: 35px;
	    	left: 10px;
	    	font-size: 2.0rem;
	    }
	}
}

.morning-menu-container{
	&::before{
	    content: "";
	    top: 0;
	    left: 0;
	    border-bottom: 80px solid transparent;
	    border-left: 80px solid #fc5959;
	    position: absolute;
	    z-index: 10;
	    @include lg {
		    border-bottom: 130px solid transparent;
		    border-left: 130px solid #fc5959;
	    }
	}
	&::after{
	    content: "朝だけ";
	    display: block;
	    top: 20px;
	    transform: rotate(-45deg);
	    color: #fff;
	    left: 3px;
	    position: absolute;
	    z-index: 20;
	    font-weight: bold;
	    @include lg {
	    	top: 35px;
	    	left: 20px;
	    	font-size: 2.0rem;
	    }
	}
}

.lunch-menu-container{
	&::before{
	    content: "";
	    top: 0;
	    left: 0;
	    border-bottom: 80px solid transparent;
	    border-left: 80px solid #ff9525;
	    position: absolute;
	    z-index: 10;
	    @include lg {
		    border-bottom: 130px solid transparent;
		    border-left: 130px solid #ff9525;
	    }
	}
	&::after{
	    content: "昼だけ";
	    display: block;
	    top: 20px;
	    transform: rotate(-45deg);
	    color: #fff;
	    left: 3px;
	    position: absolute;
	    z-index: 20;
	    font-weight: bold;
	    @include lg {
	    	top: 35px;
	    	left: 20px;
	    	font-size: 2.0rem;
	    }
	}
}

.menu-container-middle{
	margin-top: 20px;
}

.item-list-wrapper{
	@include lg {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.item-list-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    align-content: flex-start;
	margin-bottom: 20px;
	@include lg {
		width: 48%;
		margin-bottom: 35px;
	}
	.item-image{
		width: 40%;
		@include lg {
			width: 100%;
		}
	}
	.item-text{
		width: 55%;
		@include lg {
			width: 100%;
			margin-top: 20px;
		}
		h4{
			font-size: 1.4rem;
			font-weight: bold;
			@include pc {
				font-size: 2.0rem;
				margin-bottom: 10px;
			}
		}
		.fee{
			font-size: 1.4rem;
			color: $dark-orange;
			font-weight: bold;
			@include pc {
				font-size: 2.0rem;
			}
		}
		.set-fee{
			font-size: 1.4rem;
			@include pc {
				font-size: 2.0rem;
			}
		}
		span{
			font-size: 1.0rem;
			@include pc {
				font-size: 1.3rem;
			}
		}
	}
}

.menu-container .set .item-list-no-image{
	width: 100%;
	@include lg {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	li{
		display: flex;
		flex-flow: row wrap;
		width: 100%;
		margin-bottom: 18px;
		font-size: 1.4rem;
		@include lg {
			width: 48%;
			font-size: 1.8rem;
		}
	}
	.item-line{
		position: relative;
		top: calc(50% - 1px);
		margin: 0 10px;
		border: none;
		border-top: dotted 2px #CCC;
	}
	.line{
		flex: auto;
	}
	.fee{
		&::after{
			content: '(税別)';
			font-size: 1.0rem;
			margin-left: 5px;
			@include pc {
				font-size: 1.3rem;
			}
		}
	}
}

// acess
#access-container-fluid{
	.logo{
		margin: 0 auto;
		width: 40%;
		margin-bottom: 30px;
		p{
			font-size: 2.5rem;
			color: #fff;
			text-align: center;
			font-weight: bold;
			letter-spacing: 5px;
		}
	}
	.sub{
		margin-bottom: 30px;
		p{
			font-size: 1.8rem;
			color: #fff;
			text-align: center;
			font-weight: bold;
		}
	}
}

.access-top-area{
	background: url("../images/footer_bg_sp.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: -15px;
	margin-left: -15px;
	height: 450px;
	padding: 40px 0;
	.access-top-text{
	}
}

.access-container{
	background-color: #fff;
	padding: 30px 15px;
	margin: -120px auto 0;
	h2{
		margin-bottom: 10px;
		text-align: center;
		img{
			height: 40px;
			width: auto;
		}
	}
	iframe{
		width: 100%;
		border: 1px #333 solid;
		margin: 20px auto;
	}
	.access-box{
		display: flex;
		h4{
			margin-right: 1.4rem;
			font-weight: bold;
			width: 10%;
			min-width: 40px;
		}
	}
	.access-box-facility ul li{
		color: $orange;
		font-weight: bold;
		img{
			width: 20px;
			height: auto;
		}
		span{
			margin-left: 5px;
		}
	}
	hr{
		border-top: 1px solid #333;
		margin: 1em auto;
		}
}


